asgiref==3.11.0
brotli==1.2.0
cffi==2.0.0
click==8.3.1
croniter==6.0.0
cssselect2==0.8.0
Django==6.0
django-debug-toolbar==6.1.0
django-environ==0.12.0
django-rq==3.2.2
django-stubs==5.2.8
django-stubs-ext==5.2.8
docopt==0.6.2
fonttools==4.61.1
librt==0.7.3
mypy==1.19.0
mypy_extensions==1.1.0
num2words==0.5.14
pathspec==0.12.1
pillow==12.0.0
pycparser==2.23
pydyf==0.12.1
pyphen==0.17.2
python-dateutil==2.9.0.post0
pytz==2025.2
redis==7.1.0
rq==2.6.1
six==1.17.0
sqlparse==0.5.4
tinycss2==1.5.1
tinyhtml5==2.0.0
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
weasyprint==67.0
webencodings==0.5.1
zopfli==0.4.0
psycopg2-binary==2.9.11